

.container {

  width:50%;
  height:50%;
  position: absolute;
  top: calc(50% - 180px);
  left: calc(50% - 360px);

  mat-toolbar {
    background-color:#8d9292;
    padding:10px;
     margin:0px;
  }

  .botao{
    margin-top: 10px;
  }
}


