<div class="container">
  
  <div class="list">
<div>
  <mat-toolbar >
    Digite seus dados:
  </mat-toolbar >
</div>
  <div class="form-group">
  <input type="text"  class="form-control" name="teste" >
  </div>
  <br>
  <button class="btn btn-outline-success" >Adicionar</button>
  <br>
  <br>
<table class="table">
 <tr>
  <th>id</th>
  <th>Nome</th>
  <th>cpf</th>
  <th>idade</th>
 </tr>
 <tr *ngFor= 'let usuario of usuarios'>
   <td>{{usuario.id}}</td>
   <td>{{usuario.nome | lowercase}}</td>
   <td>{{usuario.cpf}}</td>
   <td>{{usuario.idade}}</td>
   <button class="btn btn-outline-danger"> x </button>
 </tr>
</table>
</div>
</div>

